<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Labelary Admin</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">LABELARY NEXTERS<sup>18th</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/}">
                <i class="fas fa-fw fa-home"></i>
                <span>메인 Home</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            카테고리
        </div>

        <!-- Nav Item - 회원 조회 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/member}">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>회원 관리</span></a>
        </li>

        <!-- Nav Item - 라벨 목록 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/label}">
                <i class="fas fa-fw fa-tags"></i>
                <span>라벨 목록</span></a>
        </li>

        <!-- Nav Item - 사진 목록 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/picture}">
                <i class="fas fa-fw fa-images"></i>
                <span>사진 목록</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <p class="text-center mb-2"><strong>NEXTERS 18th<br>Fullstack Team</strong></p>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="키워드를 입력하세요."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${user.getName()}"
                                  class="mr-2 d-none d-lg-inline text-gray-600 small"> 님</span>
                            <img class="img-profile rounded-circle"
                                 th:src="${user.getPicture()}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/admin/login}">
                                <i class="fas fa-sign-in fa-sm fa-fw  mr-2 text-gray-400"></i>
                                Login
                            </a>
                            <!--                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
                            <!--                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
                            <!--                                Logout-->
                            <!--                            </a>-->
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Labelary</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            라벨 수
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <span th:text="${totalCount} + ' 개'"></span>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-tags fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            스크린샷 당 라벨 비율
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-percentage fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Annual) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body" style=" cursor: pointer;"
                                 onclick="location.href='/admin/label/save';">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            라벨 생성하기
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">라벨을 생성해요</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">

                    <!-- Area Mail Table -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">라벨 리스트</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>라벨 이름</th>
                                            <th>라벨 설명</th>
                                            <th>라벨 색상</th>
                                            <th>라벨 사용 횟수</th>
                                            <th>라벨 생성 시간</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="label: ${labels}">
                                            <td th:text="${label.labelIdx}">#</td>
                                            <td th:text="${label.labelTitle}">이름</td>
                                            <td th:text="${label.labelDetail}">설명</td>
                                            <td th:text="${label.labelColor}">색상</td>
                                            <td th:text="${label.labelCount}">사용 횟수</td>
                                            <td th:text="${label.createdDate}">생성 시간</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div th:if="${!allLabels.isEmpty()}">
                                        <nav th:with="
                                                pageNumber = ${allLabels.pageable.pageNumber},
                                                pageSize = ${allLabels.pageable.pageSize},
                                                totalPages = ${allLabels.totalPages},
                                                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                                                tempEndPage = ${startPage + pageSize - 1},
                                                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"
                                             aria-label="Page navigation">
                                            <ul class="pagination ">

                                                <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'"
                                                    class="page-item">
                                                    <a class="page-link" th:href="@{/mail(page=1)}">
                                                        <span>&laquo;</span>
                                                        <span class="sr-only">First</span>
                                                    </a>
                                                </li>

                                                <li th:classappend="${allLabels.first} ? 'disabled'" class="page-item">
                                                    <a class="page-link"
                                                       th:href="${allLabels.first} ? '#' : @{/admin(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}"
                                                       aria-label="Previous">
                                                        <!-- 개인적으로 int 로 변환하는 법을 몰라서 이렇게 길어졌습니다 -->
                                                        <span aria-hidden="true">&lt;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                                    th:classappend="${page == pageNumber + 1} ?  'active'"
                                                    class="page-item">
                                                    <a th:text="${page}" class="page-link"
                                                       th:href="@{/mail(page=${page}-1)}"></a>
                                                </li>

                                                <li th:classappend="${allLabels.last} ? 'disabled'" class="page-item">
                                                    <a class="page-link"
                                                       th:href="${allLabels.last} ? '#' : @{/admin(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&gt;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>

                                                <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'"
                                                    class="page-item">
                                                    <a class="page-link" th:href="@{/admin(page=${totalPages})}">
                                                        <span>&raquo;</span>
                                                        <span class="sr-only">First</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">사진당 라벨 개수 통계</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">라벨 사용 통계</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-primary"></i> 살거
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-success"></i> 먹을거
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-info"></i> 장소
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-danger"></i> 재밌는거
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; NEXTERS 18th - 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{~/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{~/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{~/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{~/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{~/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{~/js/demo/chart-area-demo.js}"></script>
<script th:src="@{~/js/demo/chart-pie-demo.js}"></script>

<!-- For My Ajax -->
<script th:src="@{~/js/app/index.js}"></script>

</body>

</html>